# API Keys para Inteligencia Artificial (OpenAI)
OPENAI_API_KEY=sk-tu-api-key-aqui
DEEPSEEK_API_KEY=sk-tu-api-key-deepseek-aqui (opcional)

# API de Tiendanube
TIENDANUBE_STORE_ID=5950659
TIENDANUBE_ACCESS_TOKEN=cdcad052f53bae4972979dbf6900925d4e9a36dc
TIENDANUBE_USER_AGENT=API-KEY (jgstore244@gmail.com)

# Credenciales de Coronel Mayorista (Selenium login)
CORONEL_CUIT=27958596508
CORONEL_PASSWORD=95859650
